@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
}


body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
.container {
  margin: 30px auto;
  width: 360px;
}

h1 {
  color: #2f00ff;
  text-align: center;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  text-align: center;
}

h4 {
    text-align: center;
}

hr {
    margin-top: 25px;
}

.totais {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.totais > div {
  flex: 1;
  text-align: center;
}

.totais > div:first-of-type {
  border-right: 1px solid #dedede;
}

.verde {
  color: #2ecc71;
}

.vermelho {
  color: #c0392b;
}

label {
  display: block;
  margin: 10px 0;
}

input {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

#form-qtd {
    display: flex;
    justify-content: space-between;

}

#form-lado #qtd{
    margin-left: 10px;
    width: 30%;
}

#buttons {
    display: flex;    
}

#logo {
    width: 50px;
}

a {
  text-decoration: none;
}

.btn {
    cursor: pointer;
    background-color: #b60ce0;
    text-align: center;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 13px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 280px;
  }

#btnC {
    cursor: pointer;
    background-color: #c0392b;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
  }
  
#btnV {
    cursor: pointer;
    background-color: #2ecc71;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
  }    
  .ordens {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
  }
  
  .ordens li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
  }
  
  .ordens li.verde {
    border-right: 5px solid #2ecc71;
  }
  
  .ordens li.vermelho {
    border-right: 5px solid #c0392b;
  }
  
  .info {      
    padding: 3px 8px;
    position: absolute;
    top: 50%;
    left: 0;    
    cursor: pointer;
    background-color: #2f00ff;
    border: 0;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    opacity: 15%;
    transform: translate(-100%, -50%);
    transition: opacity 0.3s ease;
  }
  
  .ordens li:hover .info {
    opacity: 1;
  }